* {
	margin: 0;
	padding: 0;
}

:root {
	--color1: red;
	--color2: blue;
	--color3: green;
	--color4: yellow;
}

.page-heading {
	box-sizing: border-box;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 3.5rem;
	padding: 5rem 3rem;
	text-align: center;
	text-rendering: optimizeLegibility;
	color: #131313;
	background-color: #e7e5e4;
	letter-spacing: 0.15em;
	text-shadow: 1px -1px 0 var(--color1), -1px 2px 1px var(--color2), -2px 4px 1px var(--color3), -3px 6px 1px var(--color4),
		-4px 8px 1px var(--color1), -5px 10px 1px var(--color1), -6px 12px 1px var(--color2), -7px 14px 1px var(--color3),
		-8px 16px 1px var(--color4), -9px 18px 1px var(--color1), -10px 20px 1px var(--color1), -11px 22px 1px var(--color2),
		-12px 24px 1px var(--color3), -13px 26px 1px var(--color4), -14px 28px 1px var(--color1), -15px 30px 1px var(--color1),
		-16px 32px 1px var(--color2), -17px 34px 1px var(--color3), -18px 36px 1px var(--color4), -19px 38px 1px var(--color1),
		-20px 40px 1px var(--color1), -21px 42px 1px var(--color2), -22px 44px 1px var(--color3), -23px 46px 1px var(--color4),
		-24px 48px 1px var(--color1), -25px 50px 1px var(--color1), -26px 52px 1px var(--color2), -27px 54px 1px var(--color3),
		-28px 56px 1px var(--color4);
}
